#word-list-item {

}

.word-list-container {
    flex-grow: 0;
}

#word-item {
    padding-left: 0.5rem;
}

.word-item-container {
    display: contents;
}

#word-input {
    padding: 1rem;
    margin: 0.5rem;
    width: 100%;
    text-align: center;
}

#search-word-submit {
    padding: 1rem;
    margin: 0.5rem;
    height: 100%;
}

#add-word-submit {
    padding: 1rem;
    margin: 0.5rem;
    height: 100%;
}

#all-words-submit {
    padding: 1rem;
    margin: 0.5rem;
    height: 100%;
}

#file-upload {
    padding: 1rem;
    margin: 0.5rem;
    height: 100%;
    width: 
}